[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=hello-qt5
Exec=/usr/bin/hello-qt5 %F
Comment=Hello world from qt5
Icon=/usr/share/pixmaps/hello-qt5.ico
StartupNotify=false
Categories=GTK;GNOME;
Keywords=programming;
GenericName=Hello world from qt5
